$black-20: rgba(black, 0.2);
$black-70: rgba(black, 0.7);

$anki-box-height-mobile: 400px;
$anki-question-height: 100px;

.flex-component-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; // row
  justify-content: center; // col
}

#modal-anki {
  @extend .flex-component-center;
  top                   : 0;
  left                  : 0;
  height                : 100%;
  width                 : 100%;
  position              : relative;
  // background            : $black-70;

  %box {
    background   : white;
    border-radius: 2px;
    z-index      : 10;
    position     : relative;
  }

  &.mobile {
    width: 100%;

    #anki-box {
      width : 96%;
      height: $anki-box-height-mobile;

      #anki-answer {
        height: calc(#{$anki-box-height-mobile} - #{$anki-question-height});
      }
    }
  }

  anki-list {
    * {
      font-size: 14px;
    }
    height  : inherit;
    overflow: auto;
  }

  #anki-box {
    @extend %box;
    width   : calc(100% - 20px);
    height: calc(100% - 20px);
    top     : 10px;
    position: absolute;

    #anki-question {
      width   : 100%;
      height  : $anki-question-height;
      overflow: auto;

      i {
        height    : inherit;
        box-sizing: border-box;
        width     : 33%;
      }

      * {
        color: black;
      }
    }

    #anki-answer {
      height: calc(100vh - 200px - #{$anki-question-height});

      #anki-answer-content {
        @extend .flex-component-center;
        white-space: pre-wrap;
        overflow   : auto;
        display    : block;

        code {
          font-size: 14px;

          * {
            font-size: 14px;
          }
        }

        * {
          color: black;
        }
      }

      #anki-answer-buttons {
        position: absolute;
        bottom  : 10px;
      }
    }

    #anki-answer-thumbnail {
      * {
        font-size: 14px;
      }
      position     : absolute;
      top          : calc(#{$anki-question-height} + 5px);
      padding-left : 10px;
      padding-right: 10px;
      box-sizing   : border-box;
      width        : 100%;
    }
  }

  // $search-box-height    : 500px;
  // $search-box-width     : 1000px;

  // #search-box {
  //   @extend %box;
  //   width : $search-box-width;
  //   height: $search-box-height;
  // }
  // $search-content-height: 40px;

  // #search-content {
  //   font-size    : 20px;
  //   line-height  : 30px;
  //   padding      : 5px;
  //   height       : calc(#{$search-content-height});
  //   box-sizing   : border-box;
  //   border-bottom: 1px solid $black-70;
  // }

  // #search-results {
  //   height  : calc(#{$search-box-height} - #{$search-content-height}) !important;
  //   overflow: auto;

  //   .search-results-record {
  //     color: black;

  //     &:hover {
  //       background: $black-20;
  //       @include transition(all 1s ease);
  //     }
  //   }
  // }
}
