#portfolio-page {

  // #portfolio-nav {
  //   text-align: center;
  //   a {
  //     padding: 2px 5px;
  //     margin: 0 5px;
  //   }
  // }
  #portfolio-thumbnails {
    width: 100%;
    overflow: auto;

    .portfolio-thumbnail {
      position: relative;
      width: calc(33.33% - 40px);
      margin: 0 20px;
      box-sizing: border-box;
      float: left;
      height: 200px;
      border: white solid 3px;

      img {
        height: 100%;
        width: 100%;
      }

      .text {
        position: absolute;
        top: 0;
        opacity: 0;
        padding: 20px;
        font-size: 14px;
        display: block;
        z-index: 2;
      }

      .canvas {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
      }

      &:hover {
        background: black;

        .text {
          opacity: 1;
        }

        .canvas {
          opacity: 0.8;
        }
      }
    }
  }
}
