$homepage-testimonial-img-width: 120px;
#testimonial-page {
  .testimonial {
  	padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: $homepage-testimonial-img-width;
      height: $homepage-testimonial-img-width;
      float: left;
      border-radius: 100px;
      border: 2px solid white;
    }
    .text {
      display: inline-block;
      width: calc(#{$homepage-width} - #{$homepage-testimonial-img-width});
      padding: 0 10px;
    }
  }
}
