doctype html
html
  head
    title Anki
    link(rel="manifest", href="/manifest.json")
    meta(name="description" content="Anki Page")
    meta(name='theme-color', content='#ffffff')
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel='shortcut icon', type='image/png', sizes='32x32', href='/favicons/icon-96x96.png')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style
      include index.css
  body
    #app
    //- script(src='//cdn.rawgit.com/dcodeIO/protobuf.js/6.8.8/dist/protobuf.min.js')
